@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Resetting the default box-sizing for better consistency */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* Ensures all elements use the same box-sizing model */
}


/* Improve readability by adjusting default font settings */
body {
  background-color: var(--main-bg-color);
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, sans-serif;
  --main-bg-color: #101922;
  --aside-color: #95999f;
  --second-color: #1173d4;
}

body>header {
  background-color: var(--main-bg-color);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #3b485a;

  div {
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }

  div nav {
    display: flex;
    gap: 1.2rem;
  }

  img {
    width: 60px;
    height: auto;
  }

  nav a {
    color: rgb(202, 202, 202);
    text-decoration: none;
  }

  aside {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    img {
      width: 40px;
      border-radius: 100%;
    }
  }

  button {
    background-color: #0f2b44;
    border: none;
    color: var(--second-color);
    padding: 0.6rem 0.8rem;
    border-radius: 10px;
    font-weight: 700;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;


  >h1 {
    font-size: 42px;
    line-height: 0;
    margin-top: 70px;
  }

  >p {
    line-height: 0;
    color: var(--aside-color);
    margin-bottom: 40px;
  }

  >section {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 80vw;
  }

  >section div {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #3b485a;
    border-radius: 10px;
    background-color: #18212d;
    align-items: center;
    padding: 2px;

    svg path {
      fill: #3b485a;
    }

    input {
      width: 80vw;
      padding: 0.5rem;
      background-color: #18212d;
      border: none;
      border-radius: 10px;
      font-size: medium;
      color: white;
    }
  }

  >section .filtros-busqueda {
    margin-top: 10px;
    display: flex;
    gap: 13px;

    select {
      background-color: #242d3a;
      border: none;
      padding: 0.5rem;
      color: white;
      border-radius: 10px;
    }
  }

  >.resultados {
    display: flex;
    width: 80vw;

    >h2 {
      margin-bottom: 10px;
    }


    >div {
      display: flex;
      flex-direction: column;
      padding: 0%;

      article {
        display: flex;
        flex-direction: column;
        width: 100v;
        padding: 0.5rem 1.5rem;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #3b485a;
        position: relative;

        >header h3 {
          margin-bottom: 5px;
        }

        >header p {
          margin-top: 0%;
          color: var(--aside-color);
        }

        >footer {
          position: absolute;
          right: 1.5rem;
          margin-top: 20px;

        }

        &.filtered {
          display: none;
        }
      }

      article:nth-child(4) {
        border-bottom-style: none;
      }
    }

    button {
      background-color: var(--second-color);
      border: none;
      padding: 0.8rem 1.6rem;
      color: white;
      border-radius: 7px;
      font-weight: 600;
    }

    button:hover {
      cursor: pointer;
    }
  }

}

input::placeholder {
  color: #4e5563;
}

main>nav {
  display: flex;
  align-items: center;
  margin: 40px 0px 100px;
  gap: 25px;

  a {
    color: white;
    text-decoration: none;
  }

  button {
    background-color: var(--main-bg-color);
    border: none;
    color: white;
  }

  button:hover {
    cursor: pointer;
  }

  a:nth-child(2) {
    background-color: var(--second-color);
    padding: 0.5rem 1rem;
    border-radius: 7px;
  }

}