/* Resetting the default box-sizing for better consistency */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* Ensures all elements use the same box-sizing model */
}

:root {
    --header-bg-color: black;
    --subheader-bg-color: #ec1c65;
    --main-bg-color: #f5f5ff;
    --secondary-color: #673de6;
    --banner-color: #ccfe01;
    --neutral: #6d7081;
}


body {
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
    color: #1E1D20;
    background-color: #f5f5ff;
    margin: 0;
    padding: 0;
}

body>header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1rem 3rem;

    section>svg path {
        fill: white;
    }

    section {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 25px;

        li {
            display: flex;

        }
    }
}

header>section div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 3px;
}

header>section:nth-child(2) {
    gap: 15px;

    button {
        font-family: "DM Sans", sans-serif;
        font-size: medium;
        border: none;
        background-color: var(--header-bg-color);
        color: white;
        font-weight: 600;
        border-style: solid;
        border-width: 1px;
        border-radius: 7px;
        padding: 0.6rem 1rem;
    }
}

.bandera {
    width: 32px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 2px;
}

main>header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--subheader-bg-color);
    padding: 0.5rem;
    color: white;

    p {
        font-size: 14px;
        margin: 0;
    }

    span {
        background-color: #f65385;
        padding: 0.25rem 1rem;
        border-radius: 7px;
        font-weight: bold;
    }

    .letter {
        font-size: 10px;
        padding: 0;
        font-weight: 100;
    }
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 2%;
        font-size: xx-large;
    }

    >ul:nth-child(2) {
        display: flex;
        gap: 30px;
        list-style: none;
        margin-top: 0%;

        img {
            width: 16px;
        }

        li {
            display: flex;
            gap: 7px;
        }
    }
}

.cards {
    display: grid;
    width: 50.33vw;
    /*width: 33.33vw;*/
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 70px;

    article {
        display: flex;
        flex-direction: column;
        background-color: #fafbff;
        padding: 1.5rem;
        border: 1px solid #d5dfff;
        border-radius: 20px;

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }

        small {
            font-size: 12px;
        }

        h3 {
            font-size: 16px;
        }

        del {
            color: var(--neutral);
        }

        header {
            margin-left: auto;

            p {
                margin: 0%;
                background-color: var(--banner-color);
                padding: 0.3rem 0.7rem;
                border-radius: 20px;
                font-weight: bold;
            }
        }

        .intro p:nth-child(3) {
            margin: 0%;

        }

        .intro p:nth-child(4) {
            font-size: 16px;
            margin: 0%;

            span {
                font-size: 36px;
                font-weight: 700;
                margin: 0%;
            }

        }

        .purple {
            margin: 0%;
            font-size: 18px;
            font-weight: 700;
            color: var(--secondary-color);
        }

        aside {

            border-bottom: 1px solid #d5dfff;
            padding-bottom: 20px;

            .banner {
                background-color: #eae5fc;
                font-size: 12px;
                padding: 4px 8px;
                color: var(--secondary-color);
                font-weight: bold;
                border-radius: 7px;
                text-align: center;
            }

            button {
                font-family: "DM Sans", sans-serif;
                width: 100%;
                font-size: 16px;
                font-weight: bold;
                padding: 11px 47px;
                background-color: white;
                border: 1px solid black;
                border-radius: 10px;
            }

            .disclaimer {
                color: var(--neutral);
                line-height: normal;
            }

        }

        .features {
            padding-top: 20px;

            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 0%;
                font-size: 14px;
                gap: 5px;

                li:nth-child(4) {
                    text-decoration: underline dotted;
                }
            }
        }

        .beneficios {
            ul {
                display: flex;
                flex-direction: column;
                padding-left: 24px;
                gap: 5px;
                list-style: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM1NGFmOWQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaXJjbGUtY2hlY2staWNvbiBsdWNpZGUtY2lyY2xlLWNoZWNrIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwYXRoIGQ9Im05IDEyIDIgMiA0LTQiLz48L3N2Zz4=);
                font-size: 14px;
            }
            
            .underline{
                text-decoration: underline dotted;
            }
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;
    small{
        font-size: 12px;
        color: var(--neutral);
    }    

    div:nth-child(2){
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    img{
        width: 176px;
    }
}
