/* Resetting the default box-sizing for better consistency */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* Ensures all elements use the same box-sizing model */
}

:root {
    --lightred: #FFDED6;
    --red: #F74639;
    --orange: #D56638;
    --green: #003811;
    --lightgrey: #FBF8F3;
    --darkgrey: #2A2B2A;
    --lightbrown: #F9F6F1;
}

body {
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body>header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .social {
        width: 100%;
        height: 48px;
        background-color: var(--lightred);
        display: flex;
        justify-content: center;

        .padre {
            height: 48px;
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: var(--lightred);
        }

        .search-section {
            display: flex;
            align-items: center;
            gap: 3px;

            input {
                width: 200px;
                border: none;
                background-color: var(--lightred);
                color: black;
            }
        }

        ul {
            display: flex;
            gap: 10px;
            list-style: none;

            svg {
                width: 24px;
                height: auto;
            }
        }
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #2A2B2A;
        font-weight: 400;
        width: 80%;
        padding: 20px 0;

        ul {
            display: flex;
            gap: 20px;
            list-style: none;
            padding: 0%;
        }

        img {
            width: 300px;
        }

        border-bottom: 3px solid;

    }

    input::placeholder {
        text-transform: uppercase;
        color: #2A2B2A;
        font-family: monospace;
        letter-spacing: 1px;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    >header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding-top: 2.5rem;

        >div {
            width: 250px;
            display: flex;
            align-items: center;
            gap: 20px;

            h2 {
                text-wrap: wrap;
                font-size: 18px;
                margin: 0%;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }

        h1 {
            margin: 0%;
            text-transform: uppercase;
            font-size: 36px;
        }

        aside {
            font-family: monospace;
            font-size: 16px;
            text-transform: uppercase;
            margin-right: 25px;

            a {
                display: flex;
                align-items: center;
                gap: 15px;
                letter-spacing: 1px;
                text-decoration: none;
                color: #2A2B2A;
                font-weight: bold;
            }
        }
    }

    .recipes {
        padding-top: 2.5rem;
        display: grid;
        overflow: hidden;
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;

        article {
            display: flex;
            flex-direction: column;
            gap: 10px;

            img {
                width: 100%;
                height: auto;
            }

            .categories {
                display: flex;
                justify-content: center;
                margin: 10px 0;

                ul {
                    display: flex;
                    gap: 10px;
                    padding: 0%;
                    margin: 0%;
                }
            }

            h2 {
                text-align: center;
                font-size: 21px;
            }

            button {
                background-color: #ff8c70;
                width: 100%;
                height: 44px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 20px;
                font-weight: bold;
                color: white;
                border: none;
                border-radius: 5px;
            }
        }
    }

    .showme {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        font-family: monospace;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        color: var(--orange);

        span {
            margin-left: 20px;
        }
    }

    .pick {
        width: 80%;                        
        

        article {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 500px;
               
            img {
                width: 100%;    
                height: auto;
                object-fit: cover;                          
            }
        }
    }
}

ul {
    list-style: none;
}

.gf {
    background-color: var(--lightred);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #2A2B2A;
    font-weight: bold;
    border-radius: 50%;
}

.vg {
    background-color: var(--red);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

.v {
    background-color: var(--orange);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

.df {
    background-color: var(--green);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

.ns {
    background-color: var(--darkgrey);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}